.container{
  background-color: palegreen;
  height: 90vh;
  display: grid;
  grid-template-columns:200px max-content 200px ;
  /* grid-template-rows: 150px 210px 120px; */
  /* gap: 20px; */
  /* row-gap: 20px;
  column-gap: 10px; */
}

.container > div{
  background-color: red;
  height: 100%;
  width: 100%;
  border: 2px solid yellow;
}

.first{
  /* grid-column: 1/span 3; */
  grid-area: 1/1/5/4;
}

.second{
  grid-row: 2/span 4;
}

.footer{
  grid-column: 1/span 3;
}

.fourth{
  grid-row: 2/span 2;
}